<!-- <div *ngIf="modalService.modal" class="modal-background">
  <div class="modal-content">
    <div class="modal-dialog modal-lg">
      <div class="modal-header">
    <h2 class="modal-title">Modal Personalizadossss</h2>
    </div>
    <label for="textInput1">Texto 1:</label>
    <input type="text" id="textInput1" [(ngModel)]="input1Value">
    <br>

    <label for="textInput2">Texto 2:</label>
    <input type="text" id="textInput2" [(ngModel)]="input2Value">
    <br>
    <div class="content-center">
    <label for="selectBox">Selecciona una opción</label>
    <br>
    <select id="selectBox" [(ngModel)]="selectedOption">
      <option value="opcion1">Opción 1</option>
      <option value="opcion2">Opción 2</option>
      <option value="opcion3">Opción 3</option>
      <br>
    </select>
    </div>
    <div class="button-container">

      <button  (click)="cancel()">Cancelar</button>
      <button  (click)="save()">Guardar</button>

    </div>

    </div>
  </div>


</div>
 -->


<div class="modal-is-open animation fade-in" *ngIf="modalService.modal">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-align:center">
        <div class="modal-header">
          <h3 class="modal-title" style="text-align:center;" style="padding: 1rem">Registrar nueva area</h3>
          <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         </div>

        <div class="modal-body">
<label class="left-label" for="textInput1" style="padding: 1rem;">Nombre del area:</label>
<br>
<input class="left-label" type="text" id="textInput1" [(ngModel)]="input1Value" style="width: 300px; align-items: center;" required>
<br>

<label class="left-label" for="textInput2" style="padding: 1rem">clave:</label>
<br>
<input class="left-label" type="text" id="textInput2" [(ngModel)]="input2Value" style="width: 300px; text-transform: uppercase;" required="" maxlength="4">
<br>
<div class="content-center">
  <label class="left-label" for="selectBox" class="align-items-center" style="padding: 1rem; padding-bottom: 1rem;">Selecciona una opción:</label>
<br>
  <select class="centered-select" id="selectBox" [(ngModel)]="selectedOption" style="width: 300px;">
    <option value="opcion1">Opción 1</option>
    <option value="opcion2">Opción 2</option>
    <option value="opcion3">Opción 3</option>
    <br>
  </select>
          <div class="container">
            <div class="row">
              <div class="col-sm">

              </div>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn text-left" data-dismiss="modal" (click)="cancel()">Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
