<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
<footer id="Footer" class="clearfix mfn-footer " role="contentinfo">


		<div class="widgets_wrapper "><div class="container"><div class="column mobile-one tablet-one-fourth one-fourth"><div class="mcb-column-inner"><aside id="text-13" class="widget widget_text">			<div class="textwidget"><a href="/quienes-somos-v4/" style="color:white">QUIÉNES SOMOS</a><br>
<a href="/hogares/oficinas-v4" style="color:white">COBERTURA Y OFICINAS</a><br>
<a href="/preguntas-frecuentes-v4/" style="color:white">PREGUNTAS FRECUENTES</a><br>
<a href="https://www.eninetworks.com/empleo/" style="color:white">BOLSA DE EMPLEO</a><br>
</div>
		</aside></div></div><div class="column mobile-one tablet-one-fourth one-fourth"><div class="mcb-column-inner"><aside id="text-16" class="widget widget_text">			<div class="textwidget"><a href="https://apps.eninetworks.com/atencionaclientes/" style="color:white" target="_blank" rel="noopener">ATENCIÓN A CLIENTES</a><br><a href="https://apps.eninetworks.com/enicare_pwa/pago-referencia" style="color:white">PAGO EN LÍNEA</a><br><br>
<a href="/hogares/contratacion-v4" style="color:white">SOLICITUD DE CONTRATO</a><br></div>
		</aside></div></div><div class="column mobile-one tablet-one-fourth one-fourth"><div class="mcb-column-inner"><aside id="text-14" class="widget widget_text">			<div class="textwidget"><h4 style="color:white">LEGAL</h4>
<hr class=" hr_color" style="margin:0 auto 15px;">
<a href="/hogares/codigo-de-practicas-comerciales-v4" style="color:white">CÓDIGO DE PRÁCTICAS COMERCIALES</a><br>
<a href="http://www.ift.org.mx/usuarios-y-audiencias/carta-de-derechos" style="color:white" target="_blank" rel="noopener">CARTA DE DERECHOS DE USUARIOS<br> DE LAS TELECOMUNICACIONES</a><br>
<a href="/hogares/contratos-de-adhesion-v4" style="color:white">CONTRATOS DE ADHESIÓN DE SERVICIO</a><br>
<a href="/hogares/aviso-de-privacidad-v4" style="color:white">AVISO DE PRIVACIDAD</a><br>
<a href="/hogares/codigo-de-politicas-de-gestion-v1/" style="color:white">CÓDIGO DE POLÍTICAS DE GESTIÓN DE TRÁFICO Y ADMINISTRACIÓN DE RED PARA EL SERVICIO DE ACCESO A INTERNET</a><br>
<a href="/direccion-de-enlace-gubernamental/" style="color:white">ENLACE GUBERNAMENTAL</a>

</div>
		</aside></div></div><div class="column mobile-one tablet-one-fourth one-fourth"><div class="mcb-column-inner"><aside id="block-2" class="widget widget_block"><h4 style="color:white">SOCIAL MEDIA</h4>
<hr class=" hr_color" style="margin:0 auto 15px;">
<a href="https://www.facebook.com/eninetworks/" style="color:white" target="_blank"><i class="icon-facebook" style="color:#55ac4b"></i>FACEBOOK</a><br>
<a href="https://twitter.com/eninetworks" style="color:white" target="_blank"><i class="icon-twitter" style="color:#55ac4b"></i>TWITTER</a><br>
<a href="https://www.linkedin.com/company/eni-networks" style="color:white" target="_blank"><i class="icon-linkedin" style="color:#55ac4b"></i>LINKEDIN</a><br>
<a href="https://www.instagram.com/eninetworks" style="color:white" target="_blank"><i class="icon-youtube" style="color:#55ac4b"></i>YOUTUBE</a><br>
<a href="https://www.instagram.com/eninetworks" style="color:white" target="_blank"><i class="icon-instagram" style="color:#55ac4b"></i>INSTAGRAM</a><br>
<a href="/blog" style="color:white"><i class="icon-rss" style="color:#55ac4b"></i>BLOG</a><br>
<i class="icon-heart-fa" style="color:#55ac4b"></i><a href="/responsabilidad-social/" style="color:white">RESPONSABILIDAD SOCIAL</a><br></aside></div></div></div></div>

			<div class="footer_copy">
				<div class="container">
					<div class="column one mobile-one">
            <div class="mcb-column-inner">


              <div class="copyright">
                <p style="text-align:center;"><a href="https://www.eninetworks.com"><img src="https://www.eninetworks.com/wp-content/uploads/2017/06/logo-eni-blanco.svg"></a></p><h6 style="     font-size: smaller;     line-height: 15px;">ENI Networks® es una marca registrada propiedad de ENI Networks, S.A.P.I. de C.V.<br>Todos los materiales publicados en este sitio están protegidos por las leyes de propiedad intelectual de México, por lo cual se hace del conocimiento público que está prohibida cualquier reproducción total o parcial del contenido de esta página, incluyendo  textos, imágenes, material en audio o video, signos distintivos, sea en medios impresos, virtuales, electrónicos o de cualquier tipo, sin previo consentimiento de ENI Networks, S.A.P.I. de C.V.<br>Todos los Derechos Reservados.</h6>
<script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?code=fc7cd1f511a2425ea4122405b4b6970d"></script><img id="vikingcloudSealImage" src="https://sealserver.trustwave.com/seal_image.php?customerId=fc7cd1f511a2425ea4122405b4b6970d&amp;size=105x54&amp;style=" border="0" style="cursor:pointer;" onclick="javascript:window.open('https://sealserver.trustwave.com/cert.php?customerId=fc7cd1f511a2425ea4122405b4b6970d&amp;size=105x54&amp;style=', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of Viking Cloud, Inc.'); return false;" alt="This site is protected by VikingCloud's Trusted Commerce program" title="This site is protected by VikingCloud's Trusted Commerce program">              </div>

              <ul class="social" role="navigation" aria-label="social menu"></ul>
            </div>
					</div>
				</div>
			</div>



	</footer>
          
        </div>
      </div>
      <div class="text-center mb-2">
        <a href="" class="text-white me-4">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
    <div class="text-center p-3 bg-dark">
      @ENI NETWORKS SAPI DE CV
    </div>
  </div>
</footer>
